
.login-form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .error-message {
    color: red;
  }
  
  
  .link-to-signup {
    color: #007bff;
    text-decoration: none;
  }
  
  .link-to-signup:hover {
    text-decoration: underline;
  }
  
  